body {
    font-family: Inter;
    line-height: 1.4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;

}

h2 {
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
}

h3 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

h6 {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

a {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

button {
    border: none;
}

button:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition-duration: 100ms;
}

main {
    max-width: 1920px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.navbar {
    width: 90%;
    max-width: 1920px;
    height: fit-content;
    margin-top: 12px;
    margin-bottom: 12px;

}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    margin-top: 4px;
    margin-bottom: 4px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
}

.favicon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: auto;
    flex-shrink: 0;
}

.svg-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg-div svg {
    height: 24px;
    width: auto;
    padding-right: 14px;
    padding-left: 14px;
}

.ver-line {
    height: 24px;
    width: 2px;
    background: #8f8f8f;

}


.line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1px;
    background: #000;
    margin-top: 10px;
    margin-bottom: 18px;

}

.hero {
    margin: 18px;
    padding: 50px;
    width: 80%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    background: #f1f1f1;
    border-radius: 15px;
}

.text-area {
    width: 50%;
}

.text-area h1 {
    margin-bottom: 0;
}

.text-area h6 {
    margin-top: 0;
}

.image-area img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.button-area {
    margin-top: 100px;
    color: #000;
    display: flex;
    width: 360px;
    height: 55px;


}

#read-more-btn {
    border-radius: 10px;
    width: 183px;
    height: 55px;
    flex-shrink: 0;
    border: 1px solid #989898;
    color: #000;
    background-color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 12px;
}

#buy-btn {
    display: flex;
    width: 125px;
    height: 55px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    background: #000;
    color: #FFF;
    background-color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

#buy-btn svg {
    margin-right: 5px;
}

.explore-con {
    border: #000 solid 1px;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin-bottom: 300px;
}

.explore-con h4 {
    margin: 8px;
}


.explore-nav {
    display: flex;
    height: 50px;
    width: 100%;
    padding: 16px;
    flex-direction: row;
    justify-content: space-between;
}

.explore-nav-header{
    width: fit-content;
    display: flex;
    flex-direction: column;

}

.horizontal-line {
    width: 25px;
    height: 2px;
    background-color: #000;
    margin-right: 8px;
}

.explore-nav h6 {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.6px;
    margin: 0px;
}
.explore-nav h2 {
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px; 
    margin: 0px 0px 0px 32px;
    width: fit-content  ;

}

.arrows {
    margin: 24px 18px 18px 0px;
    display: flex;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border: #000 solid 1px;
    border-radius: 50px;
    margin: 8px;

}

.explore {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 15px;
    margin: 50px 8px;
}

.card img {
    width: 400px;
    height: 240px;
    border-radius: 15px;
}

/* Responsive design */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
    }

    .text-area,
    .image-area {
        width: 100%;
    }
}